<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abel.manager.mapper.SysUserMapper">

    <resultMap type="com.abel.model.vo.system.UserVo" id="userVoResultMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" jdbcType="VARCHAR" property="realName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createdAt"/>
    </resultMap>

    <sql id="columns">
        id,
        username userName,
        password,
        name,
        phone,
        avatar,
        description,
        status,
        create_time,
        update_time,
        is_deleted
    </sql>

    <select id="selectByUsername" parameterType="string" resultType="com.abel.model.entity.system.SysUser">
        select
        <include refid="columns"/>
        from sys_user
        where username = #{username}
          and is_deleted = 0
    </select>

    <!-- findByPage -->

    <select id="findByPage" parameterType="com.abel.model.dto.system.user.UserQueryDto" resultMap="userVoResultMap">
        select
        <include refid="columns"/>
        from sys_user
        <where>
            <if test="params.username != null and params.username != ''">
                and username like concat('%', #{params.username}, '%')
            </if>
            <if test="params.realName != null and params.realName != ''">
                and name like concat('%', #{params.realName}, '%')
            </if>
            <if test="params.phone != null and params.phone != ''">
                and phone like concat('%', #{params.phone}, '%')
            </if>
            <if test="params.createTimeBegin != null">
                and create_time >= #{params.createTimeBegin}
            </if>
            <if test="params.createTimeEnd != null">
                and create_time &lt;= #{params.createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
    </select>
</mapper>